/* Box Model Hack */
* {
  box-sizing: border-box;
}
h1{
  text-align: center;
}
section{
  width: 500px;
  margin: 20px auto;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
@keyframes  coinGoSpinnnn{

}

.spin{

  animation-name: coinGoSpinnnn;

  animation-iteration-count: infinite;

  animation-duration: 500ms;

  animation-timing-function: linear;

  animation-play-state: running;
}
