/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
header nav *{
  float: left;
}
nav > a, nav > form, nav > h2, nav > ul{
  width: 10%;
  margin: 0 5%;
  list-style: none;
}
nav > ul > li{
  width: 30%;
  margin: 0 1%;
}
main > section{
  width: 50%;
  height: 600px;
  float: left;
}
main > section h1, main > section img{
  display: block;
  margin-top: 200px;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
