/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    background-color: lightpink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-top: 50px;
    color: #fff;
}

button {
    width: 160px;
    height: 30px;
    background: white;
    font-size: 1.2rem;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 20px;
    margin-top: 50px;
}

button:hover {
    background: lightpink;
    color: white;
    cursor: pointer;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  padding-top: 50px;
  object-fit: contain;
}

.hidden {
    display: none;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
